<!--left-->
<div class="left" id="c_left">
    <div class="s_tuijian">
        <h2>文章<span>推荐</span></h2>
    </div>
    <div class="content_text">
        {{#each articles}}
        <!--wz-->
        <div class="wz">
            <h3><a href="{{url}}" title="{{title}}">{{title}}</a></h3>
            <dl>
                <dt><img src="{{imgPath}}" width="200" height="123" alt=""></dt>
                <dd>
                    <p class="dd_text_1">{{summary}}</p>
                    <p class="dd_text_2">
                        <span class="left author">{{author}}</span><span class="left sj">时间:{{time}}</span>
                        <span class="left fl">分类:<a href="#" title="学无止境">{{category}}</a></span><span class="left yd"><a href="{{url}}" title="阅读全文">阅读全文</a></span>
                        <div class="clear"></div>
                    </p>
                </dd>
                <div class="clear"></div>
            </dl>
        </div>
        {{/each}}
        <!--wz end-->
    </div>
</div>
<!--left end-->
<script type="text/javascript" src="js/nav.js"></script>
